@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>to your course schedule.<br/>Make your way to the <a href="https://www.youtube.com/watch?v=1h35qGpDWsQ" target="_blank">courses</a> here or by the navigation bar.</p>
</div>